.height-80 {
    height: 80px;
}

.height-751 {
    height: 751px;
}

.height-615 {
    height: 615px;
}

.height-689 {
    height: 689px;
}

.background-color-cinza {
    background-color: #d8dfd0;
}

.espacamento-div-header {
    margin: 22px auto 0 0;
    position: absolute;
}

.espacamento-div-header img {
    max-width: 64px;
    max-height: 64px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer !important;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.div-bars-header {
    margin-left: 1055px;
    margin-top: -30px;
    width: 110px;
}

.background-image-primeira-section {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/cbe298b85a245e2f965a5a31/b-min.jpg);
    background-position: 50% 50%;
    background-size: cover;
    color: #ffffff;
    margin-top: -80px;
}

.widht-730px {
    width: 730px;
    min-height: 431px;
    box-shadow: 0 0 40px 4px rgb(26 26 26 / 80%);
    margin: 160px auto;
    background-color: transparent !important;
    opacity: 1;
    border-width: 6px;
    border-color: #ffffff;
    border-style: solid;
    text-align: center;
    display: flex;
}

.padding-30px {
    padding: 30px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.padding-30px h6 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.125rem;
    margin: 0;
    font-family: 'Open Sans',sans-serif !important;
    line-height: 1.2;
}

.padding-30px h1 {
    font-size: 4.5rem;
    letter-spacing: 1px;
    margin: 16px 0 0;
    font-family: 'Playfair Display', serif !important;
    line-height: 1.1;
    font-weight: 400;
}

.margin-24 {
    margin: 24px 211px 0 !important;
}

.margin-24 a {
    text-decoration: none;
    color: inherit;
}

.border-15px {
    border: 15px solid transparent;
    min-height: 493px;
    text-align: left;
}

.padding-60px {
    padding: 60px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.padding-60px h1 {
    font-size: 12.5rem;
    font-weight: 900;
    line-height: 0.8;
    margin: 0;
    color: #ffffff !important;
    font-family: Roboto,sans-serif;
}

.padding-60px h2 {
    font-size: 2.25rem;
    margin: 5px 0 0;
    font-family: 'Playfair Display', serif !important;
    line-height: 1.1;
    text-align: left;
}

.padding-60px p {
    margin: 16px 0 0;
    font-family: 'Open Sans',sans-serif;
}

.background-image-terceira-section {
    min-height: 688px;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/c9d78a0309cd5df0a2cae47f/pexelsphoto1029844.jpeg);
    background-position: 0% 72.03%;
    background-size: cover;
}

.padding-30 {
    padding: 30px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.padding-30 p {
    font-size: 1.125rem;
    line-height: 1.8;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0 41px;
}

.padding-30 h3 {
    font-size: 3rem;
    margin: 520px 91px 0;
    font-family: 'Playfair Display', serif !important;
}

.padding-30 a {
    border-width: 2px;
    border-style: solid;
    background-image: none;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto 0;
    border-color: #454545 !important;
    color: #454545 !important;
    background-color: transparent !important;
    text-decoration: none !important;
    padding: 10px;
}

.segunda-background-image-terceira-section {
    min-height: 688px;
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/efc7c28fcc3c52e8bc1bc705/pexelsphoto1650627.jpeg);
    background-position: 0% 72.03%;
    background-size: cover;
}



/* Responsivo */

@media (max-width: 320px) { 
    .div-bars-header {
        margin-left: 235px;
        margin-top: -30px;
        width: 37px;
    }

    .widht-730px {
        width: 270px;
        min-height: 360px;
        box-shadow: 0 0 40px 4px rgb(26 26 26 / 80%);
        margin: 160px auto;
        background-color: transparent !important;
        opacity: 1;
        border-width: 6px;
        border-color: #ffffff;
        border-style: solid;
        text-align: center;
        display: flex;
    }

    .padding-30px {
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 257px;
    }

    .padding-30px h6 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 0.8rem;
        margin: 0px;
        font-family: 'Open Sans',sans-serif !important;
        line-height: 1.2;
        margin-top: 5px;
    }

    .padding-30px h1 {
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 16px 0 0;
        font-family: 'Playfair Display', serif !important;
        line-height: 1.1;
        font-weight: 400;
        margin-top: 24px;
    }

    .margin-24 {
        margin: 50px 85px 0 !important;
    }

    .height-751 {
        height: 680px;
    }

    .padding-60px {
        padding: unset !important;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    .height-615 {
        height: 1205px;
    }

    .padding-60px h1 {
        font-size: 10.5rem;
        font-weight: 900;
        line-height: 0.8;
        margin: 0;
        color: #ffffff !important;
        font-family: Roboto,sans-serif;
    }

    .height-689 {
        height: 1390px;
    }

    .padding-30 p {
        font-size: 1rem;
        line-height: 1.8;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: unset !important;
    }

    .padding-30 h3 {
        font-size: 2.5rem;
        margin: 530px 91px 0;
        font-family: 'Playfair Display', serif !important;
        width: 287px;
        margin-left: -25px;
    }

}
  
@media (min-width: 321px) and (max-width: 375px) {
    .div-bars-header {
        margin-left: 285px;
        margin-top: -30px;
        width: 37px;
    }

    .widht-730px {
        width: 325px;
        min-height: 360px;
        box-shadow: 0 0 40px 4px rgb(26 26 26 / 80%);
        margin: 160px auto;
        background-color: transparent !important;
        opacity: 1;
        border-width: 6px;
        border-color: #ffffff;
        border-style: solid;
        text-align: center;
        display: flex;
    }

    .padding-30px {
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 312px;
    }

    .padding-30px h6 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 0.6rem;
        margin: 0px;
        font-family: 'Open Sans',sans-serif !important;
        line-height: 1.2;
        margin-top: 5px;
    }

    .padding-30px h1 {
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 16px 0 0;
        font-family: 'Playfair Display', serif !important;
        line-height: 1.1;
        font-weight: 400;
        margin-top: 24px;
    }

    .margin-24 {
        margin: 50px 116px 0 !important;
    }

    .height-751 {
        height: 680px;
    }

    .padding-60px {
        padding: unset !important;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    .height-615 {
        height: 1035px;
    }

    .padding-60px h1 {
        font-size: 10.5rem;
        font-weight: 900;
        line-height: 0.8;
        margin: 0;
        color: #ffffff !important;
        font-family: Roboto,sans-serif;
    }

    .height-689 {
        height: 1400px;
    }

    .padding-30 h3 {
        font-size: 3rem;
        margin: 530px 91px 0;
        font-family: 'Playfair Display', serif !important;
        width: 344px;
        margin-left: -25px;
    }

}
  
@media (min-width:  376px) and (max-width: 576px) {   
    .div-bars-header {
        margin-left: 335px;
        margin-top: -30px;
        width: 37px;
    }

    .widht-730px {
        width: 375px;
        min-height: 360px;
        box-shadow: 0 0 40px 4px rgb(26 26 26 / 80%);
        margin: 160px auto;
        background-color: transparent !important;
        opacity: 1;
        border-width: 6px;
        border-color: #ffffff;
        border-style: solid;
        text-align: center;
        display: flex;
    }

    .padding-30px {
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 363px;
    }

    .padding-30px h6 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        font-size: 0.8rem;
        margin: 0;
        font-family: 'Open Sans',sans-serif !important;
        line-height: 1.2;
        margin-top: 5px;
    }

    .padding-30px h1 {
        font-size: 2rem;
        letter-spacing: 1px;
        margin: 16px 0 0;
        font-family: 'Playfair Display', serif !important;
        line-height: 1.1;
        font-weight: 400;
        margin-top: 24px;
    }

    .margin-24 {
        margin: 50px 135px 0 !important;
    }

    .height-751 {
        height: 680px;
    }

    .padding-60px {
        padding: unset !important;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    .padding-60px h1 {
        font-size: 10.5rem;
        font-weight: 900;
        line-height: 0.8;
        margin: 0;
        color: #ffffff !important;
        font-family: Roboto,sans-serif;
    }

    .height-615 {
        height: 1000px;
    }

    .height-689 {
        height: 1400px;
    }

    .padding-30 h3 {
        font-size: 3rem;
        margin: 530px 91px 0;
        font-family: 'Playfair Display', serif !important;
        width: 344px;
        margin-left: -3px;
    }

}
  
@media (min-width: 577px) and (max-width: 768px) {
    .div-bars-header {
        margin-left: 622px;
        margin-top: -30px;
        width: 110px;
    }

    .widht-730px {
        width: 693px;
        min-height: 431px;
        box-shadow: 0 0 40px 4px rgb(26 26 26 / 80%);
        margin: 160px auto;
        background-color: transparent !important;
        opacity: 1;
        border-width: 6px;
        border-color: #ffffff;
        border-style: solid;
        text-align: center;
        display: flex;
    }

    .height-615 {
        height: 1070px;
    }

    .height-689 {
        height: 1400px;
    }

    .padding-30 h3 {
        font-size: 3rem;
        margin: 530px 91px 0;
        font-family: 'Playfair Display', serif !important;
    }

}
  
@media (min-width: 769px) and (max-width: 992px) {
    
}
  
@media (min-width: 993px) and (max-width: 1200px) {  
    .div-bars-header {
        margin-left: 870px;
        margin-top: -30px;
        width: 110px;
    }

    .height-615 {
        height: 625px;
    }

    .padding-30 h3 {
        font-size: 3rem;
        margin: 532px 50px 0;
        font-family: 'Playfair Display', serif !important;
        width: 344px;
    }

    .height-689 {
        height: 715px;
    }

}
  
@media (min-width: 1201px) {
    
}